{
    "binance": {
        "api_url": "https://api.binance.com",
        "api_key_file": "keys/binance.key",
        "config": {
            "autorestart": 1,
            "base_currency": "ATOM",
            "quote_currency": "USDT",
            "websocket": 1,
            "buymaxsize": 100,
            "live": 1,
            "buylastsellsize": 0,
            "disablelog": 1,
            "disabletracker": 1,
            "graphs": 0,
            "verbose": 0,
            "enableinsufficientfundslogging": 1,
            "enabletelegrambotcontrol": 1,
            "logbuysellinjson": 1,
            "disablebullonly": 1,
            "disablebuyelderray": 0,
            "disablebuyema": 0,
            "disablebuymacd": 0,
            "disablebuynearhigh": 0,
            "disablebuyobv": 0,
            "marketmultibuycheck": 1,
            "disablefailsafefibonaccilow": 0,
            "disableprofitbankreversal": 1,
            "nobuynearhighpcnt": 5,
            "nosellmaxpcnt": 6,
            "nosellminpcnt": -0.8,
            "trailingstoplosstrigger": 6,
            "trailingstoploss": -2,
            "sellatloss": 1,
            "sellatresistance": 0,
            "trailingbuypcnt": 0.3,
            "trailingimmediatebuy": 1,
            "preventloss": 1,
            "preventlosstrigger": 8,
            "preventlossmargin": 3
        }
    },
    
    "scanner": {
        "atr72_pcnt": 2.5,
        "enableexitaftersell": 1,
        "enableleverage": 0,
        "use_default_scanner": 1,
        "maxbotcount": 10,
        "autoscandelay": 1,
        "enable_buy_next": 1
    }
}